source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.0

nuget FSharp.Core >= 6.0.1 redirects: force
nuget Fable.Core

group test
    framework: net5.0, netstandard2.0
    source https://nuget.org/api/v2
    storage:none

    nuget Microsoft.NET.Test.Sdk
    nuget xunit
    nuget xunit.runner.visualstudio