source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.0

nuget FSharp.Core >= 4.7.0 lowest_matching: true
nuget Fable.Core >= 3.6.1
nuget Ply >= 0.3.1

group test
    framework: net6.0, netstandard2.0
    source https://nuget.org/api/v2
    storage:none

    nuget Microsoft.NET.Test.Sdk
    nuget xunit
    nuget xunit.runner.visualstudio